<a href="https://colab.research.google.com/github/pruthvirajkamble/oop-assinments/blob/main/types.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [10]:
var1 = "hello freind "
var2 = "my name is pruthviraj"
var3 = 4
var4 = 32.4
print(var3+var4)
print(var1 + var2)
print(type(var1))
print(type(var2))
print(type(var3))
print(type(var4))
a = (1,2,3)
print(type(a))
b = ['s','3','true']
print(type(b))
c = {1,2,3}
print(type(c))

36.4
hello freind my name is pruthviraj
<class 'str'>
<class 'str'>
<class 'int'>
<class 'float'>
<class 'tuple'>
<class 'list'>
<class 'set'>